<div class="container max-w-5xl mx-auto mt-10 bg-white shadow-lg rounded-lg border border-blue-500 p-6">
  <div class="flex justify-between items-center mb-6">
    <h5 class="text-xl font-semibold text-blue-600">Visualizador OCR</h5>
    <div *ngIf="!isToRevision()" class="flex gap-4">
      <app-action-button label="Finalizar proceso" styleEdit="bg-green-500 hover:bg-green-600"
        [onActionClick]="finalizarProceso.bind(this)" />
    </div>
    <div class="flex gap-4" *ngIf="isToRevision()">
      <app-action-button label="Denegar resultado" styleEdit="bg-orange-500 hover:bg-orange-600"
        [onActionClick]="denegarResultado.bind(this)" />
      <app-action-button label="Finalizar revisión" styleEdit="bg-green-500 hover:bg-orange-600"
        [onActionClick]="finalizarRevision.bind(this)" />
    </div>
  </div>

  <div *ngIf="!ocrData" class="bg-gray-200 text-center p-6 rounded-md">
    <p class="text-blue-600">No hay datos OCR disponibles.</p>
  </div>

  <app-ocr-text-viewer [ocrData]="ocrData" [currentPage]="currentPage" [isEditing]="isEditing"
    [editingText]="editingText" (editClicked)="startEditing()" (saveChanges)="saveChanges()"
    (cancelEditing)="cancelEditing()" (pageChange)="goToPage($event)">
  </app-ocr-text-viewer>
</div>