select {
  display: block;
  width: 100%;
  padding: 0.5em;
  font-size: 1em;
  color: var(--color-texto-principal);
  background-color: var(--color-fondo);
  border: 1px solid var(--color-secundario);
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select:focus {
  border-color: var(--color-primario);
  outline: none;
  box-shadow: 0 0 5px var(--color-primario);
}


/* Ajustes menores para el formulario */
.input-field .prefix {
  color: var(--color-primario); /* Color primario para los iconos prefix */
}

.input-field .prefix.active {
  color: var(--color-primario); /* Mantener color primario cuando el campo está activo */
}

/* Estilo para los paneles de feedback */
.feedback-panel {
  padding: 10px 15px !important; /* Ajustar padding */
  margin-top: 10px;
  border-radius: 4px;
  font-weight: var(--font-weight-medium);
}

.feedback-panel i {
  margin-right: 5px;
}

/* Ajustes menores para el formulario */
.input-field .prefix {
  color: var(--color-primario); /* Color primario para los iconos prefix */
}

.input-field .prefix.active {
  color: var(--color-primario); /* Mantener color primario cuando el campo está activo */
}

/* Estilo para los paneles de feedback */
.feedback-panel {
  padding: 10px 15px !important; /* Ajustar padding */
  margin-top: 10px;
  border-radius: 4px;
  font-weight: var(--font-weight-medium);
}

.feedback-panel i {
  margin-right: 5px;
}

/* Ajustes menores para el formulario */
.input-field .prefix {
  color: var(--color-primario); /* Color primario para los iconos prefix */
}

.input-field .prefix.active {
  color: var(--color-primario); /* Mantener color primario cuando el campo está activo */
}

/* Estilo para los paneles de feedback */
.feedback-panel {
  padding: 10px 15px !important; /* Ajustar padding */
  margin-top: 10px;
  border-radius: 4px;
  font-weight: var(--font-weight-medium);
}

.feedback-panel i {
  margin-right: 5px;
}

