<div class="container max-w-4xl mx-auto mt-16 bg-blue-200 shadow-lg rounded-lg p-6">

    <div class="flex items-center gap-4">
        <h4 class="text-xl font-semibold text-center flex-1">{{ task.name }}</h4>
    </div>

    <div *ngIf="isLoading" class="flex justify-center mt-6" aria-live="polite">
        <div class="animate-spin rounded-full h-10 w-10 border-t-2 border-blue-500" ariaLabel="Cargando..."></div>
        <span class="sr-only">Cargando información de la tarea</span>
    </div>

    <div *ngIf="errorMessage" class="text-red-500 text-center mt-4" role="alert" aria-live="assertive">
        <p>{{ errorMessage }}</p>
    </div>

    <div *ngIf="!isLoading && !errorMessage && task">
        <div class="mt-6 p-4">
            <span class="block text-lg font-semibold">Información General</span>
            <div class="mt-8">
                <p><strong>Descripción:</strong> {{ task.description }}</p>
                <!-- <p class="mt-3"><strong>Fecha de Creación:</strong> {{ task.creationDate | date:'medium' }}</p> -->
                <p class="mt-3"><strong>Vencimiento:</strong> {{ task.limitDate | date:'medium' }}</p>
                <p class="flex items-center mt-3">
                    <strong>Estado:</strong>
                    <span class="ml-2 px-3 py-1 text-white rounded-md" [ngClass]="getStatusBadgeClass(task.status)">
                        {{ task.status }}
                    </span>
                </p>
                <p class="flex items-center mt-3">
                    <button class="text-blue-500 hover:text-blue-600 transition"
                        (click)="downloadFile(task.id, task.fileName)" 
                        ariaLabel="Descargar archivo {{ task.fileName }}">
                        <i class="fas fa-download text-blue-500 text-2xl" aria-hidden="true"></i>
                    </button>
                    <span class="ml-2">{{ task.fileName }}</span>
                </p>
            </div>
        </div>
        <div class="flex justify-between items-center mt-6" *ngIf="!isAlumno && !isCompleted">
            <button type="button" (click)="goBack()"
                class="bg-orange-500 text-white py-2 px-4 rounded-md hover:bg-orange-600">
                Volver
            </button>
            <button class="bg-green-500 text-white px-6 py-2 rounded-md hover:bg-green-600 transition"
                (click)="processOcr(task.id, false)" *ngIf="isRevision">
                Revisar
            </button>
            <button class="bg-green-500 text-white px-6 py-2 rounded-md hover:bg-green-600 transition"
                (click)="processOcr(task.id, true)" *ngIf="isProcess || isEarring">
                Procesar
            </button>
            <button class="bg-green-500 text-white px-6 py-2 rounded-md hover:bg-green-600 transition"
                (click)="processOcr(task.id, true)" *ngIf="isDenegated">
                Volver a procesar
            </button>
            <button class="bg-green-500 text-white px-6 py-2 rounded-md hover:bg-green-600 transition"
                (click)="processOcr(task.id, true)" *ngIf="isCompleted">
                Confirmar entrega
            </button>
        </div>
        <div class="flex justify-between items-center mt-6" *ngIf="!isAlumno && isCompleted">
            <button type="button" (click)="goBack()"
                class="bg-orange-500 text-white py-2 px-4 rounded-md hover:bg-orange-600">
                Volver
            </button>
            <button class="bg-green-500 text-white px-6 py-2 rounded-md hover:bg-green-600 transition"
                (click)="goBack()">
                Confirmar entrega
            </button>
        </div>

    </div>

</div>