<nav class="nav-wrapper white sticky top-0 z-depth-1" *ngIf="isAuthenticated">
  <div class="container">
    <!-- Título alineado a la izquierda -->
    <a [routerLink]="['/tasks']" class="brand-logo left blue-text">BiblioAccess</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger right">
      <i class="material-icons white-text">menu</i>
    </a>

    <!-- Icono de perfil con menú desplegable -->
    <ul class="right align-center hide-on-med-and-down center-align">
      <li>
        <a class="dropdown-trigger white-text" data-target="profile-dropdown">
          <i class="material-icons blue-text large">account_circle</i>
        </a>
      </li>
    </ul>

    <!-- Menú desplegable del perfil -->
    <ul id="profile-dropdown" class="dropdown-content blue">
      <li><a [routerLink]="['/tasks']" class="white-text"><i class="material-icons left">list</i>Tasks</a></li>
      <li><a [routerLink]="['/profile']" class="white-text"><i class="material-icons left">person</i>Perfil</a></li>
      <li class="divider" tabindex="-1"></li>
      <li><a (click)="logout()" class="white-text"><i class="material-icons left">exit_to_app</i>Cerrar Sesión</a></li>
    </ul>
  </div>

  <!-- Menú móvil -->
  <ul class="sidenav" id="mobile-demo">
    <li>
      <a [routerLink]="['/tasks']" class="black-text">Tasks</a>
    </li>
    <li>
      <a [routerLink]="['/form-task']" class="black-text">Form task</a>
    </li>
    <li>
      <a [routerLink]="['/profile']" class="black-text">Perfil</a>
    </li>
    <li>
      <a (click)="logout()" class="black-text">Cerrar Sesión</a>
    </li>
  </ul>
</nav>