<button (click)="toggleUser(user.id)"
    class="w-full flex justify-between items-center px-4 py-3 text-gray-700 font-medium ">
    <span>{{ user.fullName }}</span>
    <span>{{ expandedUserId === user.id ? '▲' : '▼' }}</span>
</button>

<div *ngIf="expandedUserId === user.id" class="p-4 border-t border-gray-300">
    <p class="text-gray-700"><strong>Nombre de Usuario:</strong> {{ user.userName }}</p>
    <p class="text-gray-700"><strong>Correo Electrónico:</strong> {{ user.email }}</p>

    <div class="flex justify-end gap-2 mt-4">
        <button class="bg-yellow-500 text-white px-3 py-1 rounded-md hover:bg-yellow-600 transition">
            Editar
        </button>
        <button class="bg-red-500 text-white px-3 py-1 rounded-md hover:bg-red-600 transition">
            Eliminar
        </button>
    </div>
</div>