<div class="max-w-lg mx-auto mt-16 bg-white shadow-lg rounded-lg border border-blue-500 p-6">

  <h5 class="text-xl font-semibold text-blue-600">Mi Perfil</h5>

  <div *ngIf="isLoading" class="flex justify-center mt-6">
    <div class="animate-spin rounded-full h-10 w-10 border-t-2 border-blue-500"></div>
  </div>

  <div *ngIf="errorMessage" class="bg-red-100 text-red-700 text-center p-3 rounded-md mt-4 shadow-md">
    {{ errorMessage }}
  </div>

  <div *ngIf="user && !isLoading">
    <div class="mt-6 p-4">
      <p class="text-gray-700"><strong>Nombre Completo:</strong> {{ user.fullName }}</p>
      <p class="text-gray-700"><strong>Nombre de Usuario:</strong> {{ user.userName }}</p>
      <p class="text-gray-700"><strong>Correo Electrónico:</strong> {{ user.email }}</p>
      <p class="text-gray-700"><strong>Rol:</strong> {{ user.role }}</p>
    </div>
  </div>

  <!-- <div class="flex justify-center mt-6">
    <button (click)="loadUserProfile()"
      class="bg-blue-500 text-white px-6 py-2 rounded-md hover:bg-blue-600 transition">
      Actualizar Datos
    </button>
  </div> -->

</div>